[Desktop Entry]
Encoding=UTF-8
Name=Findnrun
Name[de]=Anwendungsfinder
Name[es]=Buscar y ejecutar
Name[it]=Trova e lancia
Name[zh_CN]=找寻和运行
Name[zh_HK]=找尋和運行
Name[zh_SG]=找寻和运行
Name[zh_TW]=找尋和運行
Comment=Find applications and more
Comment[de]=Im System installierte Anwendungen finden und starten
Comment[es]=Buscar y ejecutar aplicaciones muy rápidamente
Comment[fr]=Trouvez et exécuter des applications très rapidement
Comment[it]=Trova e lancia applicazioni molto rapidamente
Comment[pl]=Szybko znajdź i uruchom aplikacje
Comment[zh_CN]=快速地找寻和运行应用程式
Comment[zh_HK]=快速地找尋和運行應用程式
Comment[zh_SG]=快速地找寻和运行应用程式
Comment[zh_TW]=快速地找尋和運行應用程式
Exec=findnrun
Terminal=false
Type=Application
Icon=findnrun
Categories=X-FilesystemFind;
